<table class="tv-channel-table">
    {{ range .Site.Data.tv }}
    <thead>
    <tr>
        <th colspan="4" class="tv-channel-title">{{ .name }}</th>
    </tr>
    </thead>
    <tbody>
    {{ $cont := 0 }}
    <tr>
        {{ range .channels }}
        <td class="tv-channel">
            <a href="{{ .web }}" target="_blank">
                <img src="{{ .logo }}" alt="{{ .name }}" class="tv-channel-logo">
            </a>
            <p>{{ .name }}</p>
        </td>
        {{ $cont = add $cont 1 }}
        {{ if eq (mod $cont 4) 0 }}</tr><tr>{{ end }}
        {{ end }}
    </tr>
    </tbody>
    {{ end }}
</table>
